html,body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
.window
{
    width: 100%;
    height: 100%;
    background-color: gray;
    border: solid darkgray 0%;

}
.headline
{
    
    display: inline,;
    align-items: center;        
    justify-content: space-between;
    background-color: darkgray;
    
    
}

#logowindow{
    float: right;
    display: inline;
}

#titlewindow{
    font-size: 0.85em;

    width: 100%;

    margin: 0;
    left: 0 auto;
}